/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* LOGO */
.logo {
    max-width: 650px;
    margin-bottom: 10px;
}

/* CORPO DA PÁGINA */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f0f0f;
    color: #eaeaea;
    padding: 20px;
}

/* CABEÇALHO */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #e10600; /* vermelho corrida */
    font-size: 32px;
}

header h2 {
    color: #e10600;
    font-size: 32px;
}

/* CONTEÚDO PRINCIPAL */
main {
    max-width: 800px;
    margin: auto;
}

/* CARDS */
.card {
    background-color: #1c1c1c;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #e10600;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.card h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.card p, .card li {
    font-size: 14px;
    line-height: 1.6;
}

/* LISTA */
ul {
    list-style: square;
    padding-left: 20px;
}

/* RODAPÉ */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    color: #888;
}
.banner {
    background-image: url("https://img.redbull.com/images/q_auto,f_auto/redbullcom/2016/11/08/1331828259653_1/vai-bem-vai-mal-ou-est%C3%A1-mais-ou-menos.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    color: white;
    border-radius: 10px;
}
.card h4 {
    color: #e10600;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
}
/* SUBTÍTULOS */
.card h4 {
    color: #e10600;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
}

/* LINHA DO TEMPO */
.timeline {
    list-style: none;
    padding-left: 0;
}

.timeline li {
    background-color: #2a2a2a;
    padding: 12px;
    margin-bottom: 10px;
    border-left: 4px solid #e10600;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.6;
}

/* BLOCO PADRÃO DE IMAGEM + TEXTO */
.topic {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    align-items: center;
}

.topic img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 10spx;
}

.topic .text h4 {
    color: #e10600;
    margin-bottom: 5px;
}

/* LINHA DO TEMPO */
.timeline-item img {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    border-radius: 8px;
}

